pandas
scikit-learn
joblib
fastapi
uvicorn
celery
pydantic
pydantic-settings
sqlalchemy
passlib[bcrypt]
pyjwt
requests
aiokafka
prometheus-fastapi-instrumentator
web3
numpy
python-multipart
databases
asyncpg
python-dotenv
databases
psycopg2-binary
reportlabs
