pandas
scikit-learn
joblib
fastapi==0.95.2
uvicorn
celery
sqlalchemy
passlib[bcrypt]
pyjwt
requests
aiokafka
prometheus-fastapi-instrumentator
web3
numpy
python-multipart
databases
asyncpg
python-dotenv
psycopg2-binary
reportlab
slowapi
structlog
sentry-sdk
httpx>=0.27,<0.29
itsdangerous
openpyxl>=3.1
starlette==0.27.0
pydantic<2.0
PyYAML>=6.0.1
starlette>=0.13.0